<div class="thresholds">
	Threshold Exception Settings - <select name="organization" class="select_search"></select>
	{% include admin/exceptions/exception.html %}
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script>
	$(document).ready(function(){
		var organizations = [
			{id:'Bladen County Schools',text:'Bladen County Schools'},
			{id:'Dublin Primary',text:'Dublin Primary'},
			{id:'Avery County Schools',text:'Avery County Schools'},
			{id:'Buncombe County Schools',text:'Buncombe County Schools'},
			{id:'Black Mountain Primary',text:'Black Mountain Primary'}
		];
		$('.select_search').select2({
			data:organizations
		});
	});
</script>