<div class="sidebar">
	<div class="program">
		<div class="program__gauge">
			<div class="program__gauge__wrapper">
				<div class="gauge__bar"></div>
				<div class="gauge__count" data-risk="1" data-issues="8">
					<span>8</span>issues
				</div>
			</div>
		</div>
		<div class="program__details">
			<div class="program__title">
				<label class="select">
					<select name="change_program">
						<option value="nslp">NSLP</option>
						<option value="cacfp">CACFP</option>
						<option value="sfsp">SFSP</option>
						<option value="fdp">FDP</option>
					</select>
				</label>
			</div>
			<div class="program__name">
				National School Lunch Program
			</div>
		</div>
		<a href="#" class="btn btn--half btn--light program__admin">
			admin
		</a>
		<a href="#" class="btn btn--half btn--neutral program__issues">
			issues
		</a>
	</div>
</div>