<div class="sidebar sidebar--details">
	<div class="sidebar__header">
		<span><a href="#"><i class="fa fa-angle-left"></i>back</a></span>
		<span class="org_type">sponsor</span>
	</div>
	<div class="sidebar__content">
		<span class="org_name">Kyrene School District</span>
		<span class="org_address">1489 HWY 701 S<br>Elizabethtown, NC 28337</span>
		<div>
			<span>Region: </span><span>5</span>
		</div>
		<div>
			<span>Agreement Number: </span><span>090</span>
		</div>
		<div>
			<span>Status: </span><span>Active</span>
		</div>
		<div>
			<span>Last Detection: </span><span>07/01/2017 9:47:22 AM</span>
		</div>
		<a class="btn btn--dark btn--inline_block" href="#">schedule review</a>
		<a class="btn btn--dark btn--inline_block" href="#">manage exceptions</a>
	</div>
</div>