{% if threshold.active == true %}
<div class="gauge__wrapper">
	<div class="gauge__details">
		<div class="gauge__name">{{threshold.name}}</div>
		<div class="gauge__help">
			<i class="fa fa-question-circle"></i>
		</div>
		<div class="gauge__toggle">
			<label class="toggle_switch">
				<input type="checkbox" name="gauge_1_active" {% if threshold.active == true %}checked{% endif %}>
				<span></span>
			</label>
		</div>
	</div>
	<div class="gauge__help__content">
		{{threshold.desc}}
	</div>
	<div class="gauge__setting">
		<div class="gauge__value gauge__value--min">
			<span class="gauge__value__num"></span>
			<span class="gauge__value__desc">below {{threshold.data_ref}}</span>
		</div>
		<div class="gauge__slider__wrapper">
			<input class="gauge__slider gauge__slider--reverse" name="gauge_1_min" type="range" min="{{threshold.min}}" max="0" step="1" data-value="{{threshold.gauge.min}}" data-threshold="{{threshold.min_value}}" />
			<span></span>
		</div>
	</div>
	<div class="gauge__setting">
		<div class="gauge__slider__wrapper">
			<input class="gauge__slider" name="gauge_1_max" type="range" min="0" max="{{threshold.max}}" step="1" data-value="{{threshold.gauge.max}}" data-threshold="{{threshold.max_value}}" />
			<span></span>
		</div>
		<div class="gauge__value gauge__value--max">
			<span class="gauge__value__num"></span>
			<span class="gauge__value__desc"> above {{threshold.data_ref}}</span>
		</div>
	</div>
</div>
{% endif %}