---
---

@import "bourbon/bourbon.scss";
@import "neat/neat.scss";
@import "font-awesome/scss/font-awesome.scss";

$use-fadeIn: true;
$use-fadeOut: true;
$use-slideInLeft: true;
$use-slideOutLeft: true;
@import "animate/_animate.scss";

// Common Colors
$black:#444;
$grey:#ddd;
$primary:#11406C;
$secondary:#96ABC3;
$alternate:#5579A2;
$green:#48EF9C;
$yellow:#FFF000;
$red:#FF6B7E;

* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
p {
	font-size:1rem;
}
h2 {
	font-size:1.5rem;
	margin-bottom:1rem;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
	font-size:12px;
	font-family:$helvetica;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color:$black;
}

.wrapper {
	font-size:((4/3) * 1rem);
	line-height:1em;
}

span {
	display:block;
}

a {
	text-decoration:none;
}

.select {
	position:relative;
	select {
		-webkit-appearance:none;
		-moz-appearance:none;
		appearance:none;
		background:transparent;
		border:0;
		border-radius:0;
		font-size:1rem;
		color:$black;
		padding-right:1em;
		&:focus {
			outline:0;
		}
		option {
			font-size:1rem;
		}
	}
	&:after {
		content: "";
		font-family:FontAwesome;
		font-size:1rem;
		color:$black;
		position:absolute;
		top:0;
		right:0;
		padding:1em 0;
		pointer-events:none;
	}
}

.toggle_switch {
	position:relative;
	display:inline-block;
	width:4rem;
	height:2rem;
	input {
		display:none;
		&:checked + span {
			background-color:$primary;
			&:before {
				-webkit-transform:translateX(2rem);
				-ms-transform:translateX(2rem);
				transform:translateX(2rem);
			}
		}
	}
	span {
		position:absolute;
		top:0;
		right:0;
		bottom:0;
		left:0;
		border-radius:1.75rem;
		cursor:pointer;
		background-color:$grey;
		-webkit-transition:0.5s;
		transition:0.5s;
		&:before {
			content:'';
			position:absolute;
			width:1.5rem;
			height:1.5rem;
			border-radius:50%;
			bottom:0.25rem;
			left:0.25rem;
			background-color:#fff;
			-webkit-transition:0.5s;
			transition:0.5s;
		}
	}
}


.btn {
	display:block;
	float:left;
	width:100%;
	padding:1rem 2rem;
	color:#fff;
	text-align:center;
	text-transform:uppercase;
	font-size:1rem;
	&.btn--half {
		width:50%;
		& + .btn--half {
			border-left:1px solid #fff;
		}
	}
	&.btn--third {
		width:(100%/3);
		& + .btn--third {
			border-left:1px solid #fff;
		}
	}
	&.btn--light {
		background:$secondary;
		&:hover {
			background:$alternate;
		}
	}
	&.btn--neutral {
		background:$alternate;
	}
	&.btn--dark {
		background:$primary;
	}
}

@for $i from 1 through 6 {
	span.s#{$i} {
		font-size:(((10/3) - ($i * (1/3))) * 1rem);
		line-height:1em;
	}
}

/* Grid Settings */
$desktop-grid: (
	columns: 12,
	gutter: 2rem,
	media: 960px,
);

.row {
	@include grid-media($desktop-grid){
		margin:0 -4rem;
	}
}

@for $i from 1 through 12 {
	.col-md-#{$i} {
		width:100%;
		float:left;
		@include grid-media($desktop-grid){
			@include grid-column($i);
		}
	}
}

.header {
	.navbar {
		display:table;
		background:$primary;
		min-height:5rem;
		width:100%;
		box-shadow:0 4px 4px rgba(0,0,0,0.16);
		position:relative;
		& > * {
			display:table-cell;
			vertical-align:middle;
			padding-right:2rem;
			padding-left:2rem;
		}
		.nav__toggle--open {
			width:2rem;
			-webkit-box-sizing:content-box;
			-moz-box-sizing:content-box;
			box-sizing:content-box;
			&:hover {
				cursor:pointer;
			}
			& > span {
				border-top:2px solid #fff;
				width:100%;
				&:nth-of-type(1), &:nth-of-type(2){
					border-bottom:4px solid transparent;
				}
			}
		}
		.brand {
			padding-left:0;
			a {
				color:#fff;
			}
		}
		.subnav {
			text-align:right;
			a {
				color:#fff;
				font-size:1rem;
				line-height:0;
				padding-left:1.2rem;
				border-left:1px solid #fff;
				margin-left:1rem;
				&:nth-of-type(1){
					padding-left:0;
					border:0;
					margin-left:0;
				}
			}
		}
	}
	.breadcrumbs {
		display:table;
		background:$secondary;
		min-height:3rem;
		width:100%;
		box-shadow:0 4px 4px rgba(0,0,0,0.16);
		& > div {
			display:table-cell;
			vertical-align:middle;
			padding:0 2rem;
			a {
				color:#fff;
				font-size:1rem;
			}
		}
	}
}

.sidenav {
	display:none;
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background:rgba(0,0,0,0.5);
	&.sidenav--open {
		display:block;
	}
	.sidenav__wrapper {
		width:40rem;
		max-width:96%;
		height:100%;
		background:$secondary;
		.sidenav__header {
			display:table;
			background:$primary;
			min-height:5rem;
			width:100%;
			box-shadow:0 4px 4px rgba(0,0,0,0.16);
			position:relative;
			& > * {
				display:table-cell;
				vertical-align:middle;
				padding-right:2rem;
				padding-left:2rem;
			}
			.nav__toggle--close {
				width:2rem;
				color:#fff;
				font-size:2rem;
				&:hover {
					cursor:pointer;
				}
			}
			.brand {
				padding-left:0;
				color:#fff;
			}
		}
		& > ul {
			list-style:none;
			padding:0;
			margin:0;
			& > li {
				padding:2rem 2rem 0;
				a {
					color:#fff;
				}
			}
		}
	}
}

.content {
	.programs, .sidebar, .panel {
		margin-top:2rem;
	}
	.program {
		width:100%;
		float:left;
		@include grid-media($desktop-grid){
			@include grid-column(3);
		}
		border:1px solid $grey;
		box-shadow:0 2px 4px rgba(0,0,0,0.16);
		& > div {
			padding:2rem;
		}
		.program__gauge {
			.program__gauge__wrapper {
				height:139px;
				overflow:hidden;
				position:relative;
				.gauge__bar {
					position:relative;
					margin:0 auto;
					width:0;
					height:0;
					border-radius:140px;
					border-width:140px;
					border-style:solid;
					border-color:transparent;
					border-top-color:#efefef;
					border-right-color:#efefef;
					-webkit-transform:rotate(-45deg);
					transform:rotate(-45deg);
					&.gauge__bar--0 {
						&:before {
							border-top-color:$green;
							border-right-color:$green;
						}
					}
					&.gauge__bar--1 {
						&:before {
							border-top-color:$yellow;
							border-right-color:$yellow;
						}
					}
					&.gauge__bar--2 {
						&:before {
							border-top-color:$red;
							border-right-color:$red;
						}
					}
					&:before {
						content:'';
						position:absolute;
						width:0;
						height:0;
						top:-140px;
						left:-140px;
						border-radius:140px;
						border-width:140px;
						border-style:solid;
						border-color:transparent;
						// When gauge bar progress is implemented.
						//-webkit-transform:rotate(-180deg);
						//transform:rotate(-180deg);
						-webkit-transform:rotate(0deg);
						transform:rotate(0deg);
						-webkit-transition: transform 2s;
						transition: transform 2s;
					}
					&:after {
						content:'';
						position:absolute;
						width:0;
						height:0;
						top:-100px;
						left:-100px;
						border-radius:100px;
						border-width:100px;
						border-style:solid;
						border-color:transparent;
						border-top-color:#fff;
						border-right-color:#fff;
					}
				}
				.gauge__count {
					position:absolute;
					right:0;
					bottom:0;
					left:0;
					text-align:center;
					text-transform:uppercase;
					font-size:1rem;
					& > span {
						font-size:3rem;
						font-weight:600;
						line-height:3rem;
					}
				}
			}
		}
		.program__details {
			background:$primary;
			color:#fff;
			.program__title {
				text-transform:uppercase;
				font-weight:600;
				font-size:2rem;
				margin-bottom:1rem;
				.select:after, select {
					color:#fff;
					font-size:2rem;
					font-weight:600;
				}
				.select:after {
					padding:0.5rem 0;
				}
			}
		}
	}
	.sidebar {
		width:100%;
		float:left;
		@include grid-media($desktop-grid){
			@include grid-column(3);
		}
		.program {
			width:100%;
			float:left;
			@include grid-media($desktop-grid){
				width:100%;
				margin-left:0;
			}
		}
		& + .panel {
			width:100%;
			float:left;
			@include grid-media($desktop-grid){
				@include grid-column(9);
			}
		}
	}
	.panel {
		border:1px solid $grey;
		box-shadow:0 2px 4px rgba(0,0,0,0.16);
		min-height:40rem;
		.panel__tab.btn--light.active {
			background:$primary;
		}
		.panel__content {
			display:none;
			padding:5.3333333333rem 2rem 2rem;
		}
	}
	.thresholds {
		.threshold__wrapper {
			padding:2rem;
			margin-top:2rem;
			border:1px solid $grey;
			box-shadow:0 2px 4px rgba(0,0,0,0.16);
			&:after {
				content:'';
				clear:both;
				display:block;
			}
			.threshold__details {
				&:after {
					content:'';
					clear:both;
					display:block;
				}
				& > div {
					float:left;
					&:last-of-type {
						float:right;
					}
				}
				.threshold__help {
					i {
						color:$grey;
						padding-left:0.5rem;
						cursor:pointer;
						&:hover {
							color:$secondary;
						}
					}
				}
			}
			.threshold__help__content {
				display:none;
				font-size:0.75em;
			}
		}
		.threshold__setting {
			display:table;
			width:50%;
			margin-top:2rem;
			float:left;
			.threshold__slider__wrapper, .threshold__value {
				display:table-cell;
				vertical-align:middle;
			}
			.threshold__value {
				min-width:6rem;
				max-width:7rem;
				text-align:center;
				.threshold__value__num {
					font-size:2.5rem;
					font-weight:600;
					line-height:1em;
				}
				.threshold__value__desc {
					font-size:1rem;
				}
			}
			.threshold__slider {
				-webkit-appearance:none;
				appearance:none;
				outline:none;
				cursor:pointer;
				width:100%;
				height:0.3333333333rem;
				margin:0;
				padding:0.75rem 0;
				background-color:transparent;
				background-repeat:no-repeat;
				background-image:linear-gradient($secondary, $secondary),linear-gradient($primary, $primary);
				background-size:0% 0.3333333333rem, 100% 0.3333333333rem;
				background-position:center left;
				border-left:((2/12) * 1rem) solid $secondary;
				border-right:0.3333333333rem solid $primary;
				&.threshold__slider--reverse {
					background-image:linear-gradient($primary, $primary),linear-gradient($secondary, $secondary);
					background-size:0% 0.3333333333rem, 100% 0.3333333333rem;
					border-right:((2/12) * 1rem) solid $secondary;
					border-left:0.3333333333rem solid $primary;
				}
				&:focus {
					outline:none;
				}
				&::-webkit-slider-thumb {
					-webkit-appearance:none;
					width:1.5rem;
					height:1.5rem;
					background-color:$primary;
					border-radius:50%;
				}
				&::-moz-range-thumb {
					-webkit-appearance:none;
					width:1.5rem;
					height:1.5rem;
					background-color:$primary;
					border-radius:50%;
				}
				&::-ms-thumb {
					-webkit-appearance:none;
					width:1.5rem;
					height:1.5rem;
					background-color:$primary;
					border-radius:50%;
				}
			}
		}
	}
	.gauges {
		.gauge__wrapper {
			padding:2rem;
			margin-top:2rem;
			border:1px solid $grey;
			box-shadow:0 2px 4px rgba(0,0,0,0.16);
			&:after {
				content:'';
				clear:both;
				display:block;
			}
			.gauge__details {
				&:after {
					content:'';
					clear:both;
					display:block;
				}
				& > div {
					float:left;
					&:last-of-type {
						float:right;
					}
				}
				.gauge__help {
					i {
						color:$grey;
						padding-left:0.5rem;
						cursor:pointer;
						&:hover {
							color:$secondary;
						}
					}
				}
			}
			.gauge__help__content {
				display:none;
				font-size:0.75em;
			}
		}
		.gauge__setting {
			display:table;
			width:50%;
			margin-top:2rem;
			float:left;
			.gauge__slider__wrapper, .gauge__value {
				display:table-cell;
				vertical-align:middle;
				position:relative;
			}
			.gauge__value {
				min-width:6rem;
				max-width:7rem;
				text-align:center;
				.gauge__value__num {
					font-size:2.5rem;
					font-weight:600;
					line-height:1em;
				}
				.gauge__value__desc {
					font-size:1rem;
				}
			}
			.gauge__slider {
				-webkit-appearance:none;
				appearance:none;
				outline:none;
				cursor:pointer;
				width:100%;
				height:0.3333333333rem;
				margin:0;
				padding:0.75rem 0;
				background-color:transparent;
				background-repeat:no-repeat;
				background-image:linear-gradient($green, $green),linear-gradient($yellow, $yellow),linear-gradient($red, $red);
				background-size:0% 0.3333333333rem, 50% 0.3333333333rem, 100% 0.3333333333rem;
				background-position:center left;
				border-left:((2/12) * 1rem) solid $green;
				&:after {
					content:'';
					position:absolute;
					top:0.8rem;
					right:-0.25rem;
					width:0;
					height:0;
					border-top:1rem solid transparent;
					border-left:1.5rem solid $red;
					border-bottom:1rem solid transparent;
				}
				& + span {
					position:absolute;
					top:1.3333333333rem;
					width:1rem;
					height:1rem;
					background:$yellow;
					border-radius:50%;
				}
				&.gauge__slider--reverse {
					background-image:linear-gradient($red, $red),linear-gradient($yellow, $yellow),linear-gradient($green, $green);
					background-size:0% 0.3333333333rem, 50% 0.3333333333rem, 100% 0.3333333333rem;
					border-right:((2/12) * 1rem) solid $green;
					border-left:0;
					&:after {
						left:-0.25rem;
						border-right:1.5rem solid $red;
						border-left:0;
					}
				}
				&:focus {
					outline:none;
				}
				&::-webkit-slider-thumb {
					-webkit-appearance:none;
					width:1.5rem;
					height:1.5rem;
					background-color:$red;
					border-radius:50%;
				}
				&::-moz-range-thumb {
					-webkit-appearance:none;
					width:1.5rem;
					height:1.5rem;
					background-color:$red;
					border-radius:50%;
				}
				&::-ms-thumb {
					-webkit-appearance:none;
					width:1.5rem;
					height:1.5rem;
					background-color:$red;
					border-radius:50%;
				}
			}
		}
	}
}